   body {
    padding-top: 100px;
    margin: auto;
    text-align: center;
    background-size: cover;
    width: 1200px;
   }
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
    h1 {
font-family: 'Bowlby One SC', cursive;
}
    
    #slogan {
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    text-align: center;
    }

#intro {
    margin: auto;
    text-align: center;
    width: 900px;
}
p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    }

li {
        display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;
}
li {
        display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;
}
li {
        display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;
}
li {
        display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;
}
li {
        display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;