
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;

}

img[Attributes Style] {
    width: 600px;
    text-align center;
}

#slogan {
    font-family: Helvetica, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    }

#intro {
    margin: auto;
    text-align: center;
    width: 900px;
}
p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    }

li {
    display: inline;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    text-decoration: none;
}